<!DOCTYPE html>
<html lang="en">
<head>
  <title>Employee</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>All Employees</h2>

    <div class="form-group">
      <label for="usr">Search By First Name:</label>
      <input type="text" class="form-control" id="usr" [(ngModel)]= "employeeName" placeholder="Search by First Name">
    </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Company</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Web</th>
        <th>Age</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let employee of employees | filterName: employeeName">

        <td>{{employee.f_name}}</td>
        <td>{{employee.l_name}}</td>
        <td>{{employee.company}}</td>
        <td>{{employee.city}}</td>
        <td>{{employee.state}}</td>
        <td>{{employee.zip}}</td>
        <td>{{employee.web}}</td>
        <td>{{employee.age}}</td>
      </tr>

    </tbody>
  </table>

  <ul class="pagination justify-content-end" style="margin:20px 0">
    <li class="page-item">...</li>
  </ul>
</div>

</body>
</html>
