.link{
    text-decoration: underline;
    cursor: pointer;
}

.spc{
    margin : 10px;
}

a.cap{
    text-transform : capitalize;
}

span.sp{
    padding-right : 2px;
}

div.gp{
    margin-top :25px;
}

span.ext{
    margin: 5px;
    padding: 5px;
}