<!DOCTYPE html>
<html lang="en">
<head>
  <title>Employee</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container bg-info">

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Employee Data</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Conact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
    </ul>
  </div>
</nav>

  <span class="spc"></span>
    <div class="form-group">
      <input type="text" class="form-control" id="usr" [(ngModel)]= "employeeName" placeholder="Search by First Name">
    </div>
  <table class="table table-hover table-striped table-light  form-group ">
    <thead>
      <tr >
        <th *ngFor= "let col of displayedColumns ">
        <a class="contribute cap text-primary" (click)= "sortedColumn = col" (click)= "a=a+1" href="#"><i class="fas fa-sort">
        <span class="sp"></span>
        {{ col }}</i></a>
        </th>
    </thead>
    <tbody>
      <tr *ngFor= "let employee of employees| filterName: employeeName| sort : sortedColumn : a | paginate: { itemsPerPage: 5, currentPage: page};">
      <ng-container> <td>{{employee.f_name}}</td></ng-container>
      <ng-container> <td>{{employee.l_name}}</td></ng-container>
      <ng-container> <td>{{employee.company}}</td></ng-container>
      <ng-container> <td>{{employee.city}}</td></ng-container>
      <ng-container> <td>{{employee.state}}</td></ng-container>
      <ng-container> <td>{{employee.zip}}</td></ng-container>
      <ng-container> <td>{{employee.web}}</td></ng-container>
      <ng-container> <td>{{employee.age}}</td></ng-container>
      </tr>
  </tbody>
  <div class="gp">
  <pagination-controls  maxSize="11"  responsive="true" directionLinks="true"  autoHide="true" previousLabel="" nextLabel="" (pageChange)= "page = $event">/</pagination-controls>
  </div>
  </table>
<span class="ext"></span>
</div>

</body>
</html>
