<!DOCTYPE html>
<html lang="en">
<head>
  <title>Employee</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>All Employees</h2>

    <div class="form-group">

      <input type="text" class="form-control" id="usr" [(ngModel)]= "employeeName" placeholder="Search by First Name">
    </div>
  <table class="table table-hover">
    <thead>
      <tr >
        <th *ngFor= "let col of displayedColumns "><a class="link" (click)= "sortedColumn = col" (click)= "a=a+1">{{ col }}</a></th>
    </thead>
    <tbody>
      <tr *ngFor= "let employee of employees| filterName: employeeName| sort : sortedColumn : a | paginate: { itemsPerPage: 5, currentPage: page};">
      <ng-container> <td>{{employee.f_name}}</td></ng-container>
      <ng-container> <td>{{employee.l_name}}</td></ng-container>
      <ng-container> <td>{{employee.company}}</td></ng-container>
      <ng-container> <td>{{employee.city}}</td></ng-container>
      <ng-container> <td>{{employee.state}}</td></ng-container>
      <ng-container> <td>{{employee.zip}}</td></ng-container>
      <ng-container> <td>{{employee.web}}</td></ng-container>
      <ng-container> <td>{{employee.age}}</td></ng-container>
      </tr>

    </tbody>
    <div>
    <pagination-controls style=" display: flex; justify-content: center; padding-left: 0; text-justify: auto;" maxSize="50"  responsive=""directionLinks="true"  autoHide="true" previousLabel="" nextLabel="" (pageChange)= "page = $event">/</pagination-controls>
    </div>
  </table>

</div>

</body>
</html>
